<a href="https://colab.research.google.com/github/mosta82/MLOps_learn/blob/main/mlops_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
b = 3
print("Sum:", a + b)
print("Multiply:", a * b)
print("Divide:", a / b)

Sum: 13
Multiply: 30
Divide: 3.3333333333333335

In [ ]:
numbers = [2, 5, 8, 1]
print("First element:", numbers[0])
numbers.append(10)
print("After appending:", numbers)
for num in numbers:
    print(num)

First element: 2
After appending: [2, 5, 8, 1, 10]
2
5
8
1
10

In [ ]:
student = {'name': 'Alice', 'age': 21}
print(student['name'])
student['grade'] = 'A'
print(student)

Alice
{'name': 'Alice', 'age': 21, 'grade': 'A'}

In [3]:
def square(x):
    return x * x

result = square(5)
print(result)

25

In [4]:
with open('sample.txt', 'w') as f:
    f.write('Hello World!\nThis is a test file.')

with open('sample.txt', 'r') as f:
    data = f.read()
    print(data)

Hello World!
This is a test file.