<a href="https://colab.research.google.com/github/mosta82/MLOps_learn/blob/main/mlops_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
b = 3
print("Sum:", a + b)
print("Multiply:", a * b)
print("Divide:", a / b)

Sum: 13
Multiply: 30
Divide: 3.3333333333333335

In [ ]:
numbers = [2, 5, 8, 1]
print("First element:", numbers[0])
numbers.append(10)
print("After appending:", numbers)
for num in numbers:
    print(num)

First element: 2
After appending: [2, 5, 8, 1, 10]
2
5
8
1
10

In [ ]:
student = {'name': 'Alice', 'age': 21}
print(student['name'])
student['grade'] = 'A'
print(student)

Alice
{'name': 'Alice', 'age': 21, 'grade': 'A'}

In [ ]:
def square(x):
    return x * x

result = square(5)
print(result)

25

In [ ]:
with open('sample.txt', 'w') as f:
    f.write('Hello World!\nThis is a test file.')

with open('sample.txt', 'r') as f:
    data = f.read()
    print(data)

Hello World!
This is a test file.

In [ ]:
import numpy as np
import pandas as pd

arr = np.array([1, 2, 3, 4])
print(arr.mean())

df = pd.DataFrame({'name': ['Tom', 'Jerry'], 'age': [23, 21]})
print(df)

2.5
    name  age
0    Tom   23
1  Jerry   21

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [2]:
# 1. Number of passengers
print("Total passengers:", len(df))

# 2. Columns in the dataset
print("Columns:", df.columns.tolist())

# 3. Number of survivors
print("Survived:", df['Survived'].sum())

# 4. Average age
print("Average age:", df['Age'].mean())

# 5. Gender distribution
print("Gender counts:\n", df['Sex'].value_counts())

Total passengers: 891
Columns: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
Survived: 342
Average age: 29.69911764705882
Gender counts:
 Sex
male      577
female    314
Name: count, dtype: int64

In [3]:
df.describe().to_csv("titanic_summary.csv")

In [4]:
import numpy as np

# Create an array
arr = np.array([1, 2, 3, 4])
print("Array:", arr)

# Basic operations
print("Mean:", arr.mean())
print("Sum:", arr.sum())
print("Squared:", arr ** 2)

# 2D Arrays (matrices)
mat = np.array([[1, 2], [3, 4]])
print("Matrix:\n", mat)
print("Matrix Transpose:\n", mat.T)

Array: [1 2 3 4]
Mean: 2.5
Sum: 10
Squared: [ 1  4  9 16]
Matrix:
 [[1 2]
 [3 4]]
Matrix Transpose:
 [[1 3]
 [2 4]]